{
  "MongoDBDatabase": {
    "ConnectionString": "",
    "DatabaseName": "",
    "CampoCollectionName": ""
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}